---
import BaseLayout from '../layouts/BaseLayout.astro';
import Milestones from '../components/Milestones.astro';
import Collaborations from '../components/Collaborations.astro';
import About from '../components/About.astro'
---
<BaseLayout>
  <h1 class="text-3xl font-bold mb-6">About</h1>
  <About />
  <Collaborations />
  <Milestones />
</BaseLayout>
