---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
<h1 class="text-3xl font-bold mb-6">Privacy Policy</h1>

<h2 class="text-2xl font-bold my-4">1. Data Protection at a Glance</h2>

<h3 class="text-xl font-bold my-2">General information</h3>
<p>The following notes provide a simple overview of what happens to your personal data when you visit this website. Personal data are all data with which you can be personally identified. For detailed information on the subject of data protection, please refer to our Privacy Policy listed below this text.</p>

<h3 class="text-xl font-bold my-2">Data collection on this website</h3>
<strong>Who is responsible for the data collection on this website?</strong>
<p>The data processing on this website is carried out by the website operator. You can find the operator’s contact details in the section “Note on the responsible body” in this Privacy Policy.</p>

<strong>How do we collect your data?</strong>
<p>On the one hand, your data are collected when you provide them to us. This can be data that you enter in a contact form for example.  
Other data are recorded automatically or based on your consent when you visit the website. These are mainly technical data (e.g. internet browser, operating system, or the time the page was accessed). This data is collected automatically as soon as you enter this website.</p>

<strong>What do we use your data for?</strong>
<p>Part of the data is collected to ensure the website is provided without errors. Other data may be used to analyze your user behavior. If contracts can be concluded or initiated via the website, the data you transmit will also be processed for contract offers, orders, or other inquiries.</p>

<strong>What rights do you have regarding your data?</strong>
<p>You have the right, at any time and at no cost, to receive information about the origin, recipient, and purpose of your stored personal data. You also have the right to request the correction or deletion of this data. If you have given consent for data processing, you can revoke this consent for future events at any time. Furthermore, you have the right, under certain circumstances, to request the restriction of the processing of your personal data. You also have the right to lodge a complaint to your data protection authority.</p>
<p>You can contact us at any time regarding these and other questions on the subject of data protection.</p>

<h2 class="text-2xl font-bold my-4">2. Hosting</h2>

<p>We host the content of our website with the following provider:</p>

<h3 class="text-xl font-bold my-2">External Hosting</h3>
<p>This website is hosted externally. The personal data collected on this website are stored on the servers of the hosting provider(s). This may include, in particular, IP addresses, contact requests, meta and communication data, contract data, contact details, names, website access, and other data that are generated through a website.</p>
<p>The external hosting is carried out for the purpose of fulfilling contracts with our users (Art. 6 (1) lit. b GDPR) and in the interest of a secure, fast, and efficient provision of our online offerings by a professional provider (Art. 6 (1) lit. f GDPR). If corresponding consent has been requested, the processing is carried out exclusively on the basis of Art. 6 (1) lit. a GDPR and § 25 (1) TDDDG, insofar as the consent includes the storage of cookies or access to information on the end device of the user (e. g. device fingerprinting) within the meaning of the TDDDG. The consent can be revoked at any time.</p>
<p>Our hosting provider(s) will process your data only to the extent necessary to fulfill their performance obligations and follow our instructions regarding this data.</p>
<p>We use the following hosting provider:</p>
<p>Contabo GmbH<br>
Aschauer Straße 32a<br>
81549 Munich<br>
Germany</p>

<h2 class="text-2xl font-bold my-4">3. General information and mandatory notices</h2>

<h3 class="text-xl font-bold my-2">Data protection</h3>
<p>The operators of these pages take the protection of your personal data very seriously. We handle your personal data confidentially and in accordance with statutory data protection regulations and this Privacy Policy.</p>
<p>When you use this website, various personal data are collected. Personal data are data with which you can be personally identified. This Privacy Policy explains what data we collect and what we use it for. It also explains how and for what purpose this takes place.</p>
<p>We point out that data transmission on the internet (e.g. when communicating by email) can have security gaps. A completely guaranteed protection of the data from access by third parties is not possible.</p>

<h3 class="text-xl font-bold my-2">Note on the responsible body</h3>
<p>The responsible body for data processing on this website is:</p>
<p>Dennis Eisermann</p>
<p>Email: site@eisermann.one</p>
<p>The responsible body is the natural or legal person who alone or jointly with others decides on the purposes and means of the processing of personal data (e.g. names, email addresses, etc.).</p>

<h3 class="text-xl font-bold my-2">Storage period</h3>
<p>Unless a more specific storage period is stated within this Privacy Policy, your personal data will remain with us until the purpose for the data processing no longer applies. If you assert a legitimate request for deletion or revoke your consent to data processing, your data will be deleted unless we have other legally reasons for storing your personal data (e.g. tax or commercial law retention periods). In the latter case, the data will be deleted once these reasons cease to apply.</p>

<h3 class="text-xl font-bold my-2">General information on the legal bases for data processing on this website</h3>
<p>If you have consented to data processing, we process your personal data on the basis of Art. 6 (1) lit. a GDPR or Art. 9 (2) lit. a GDPR if special data categories pursuant to Art. 9 (1) GDPR are processed. In the event of explicit consent to the transfer of personal data to third countries, the data processing is also carried out on the basis of Art. 49 (1) lit. a GDPR. If you have consented to the storage of cookies or to access to information on your end device (e.g. via device fingerprinting), the data processing is additionally carried out on the basis of § 25 (1) TDDDG. Consent can be revoked at any time. If your data are required for the fulfillment of a contract or for pre-contractual measures, we process your data on the basis of Art. 6 (1) lit. b GDPR. We also process your data insofar as it is necessary to fulfill a legal obligation on the basis of Art. 6 (1) lit. c GDPR. Data processing may further be based on our legitimate interest pursuant to Art. 6 (1) lit. f GDPR. You will find information on the relevant legal basis in each individual case in the following sections of this Privacy Policy.</p>

<h3 class="text-xl font-bold my-2">Recipients of personal data</h3>
<p>In the course of our business activities, we work with various external entities. In some cases, it is necessary to transfer personal data to these external entities. We only transfer personal data if this is required for contract fulfillment, if we are legally obliged to do so (e.g. transfer of data to tax authorities), if we have a legitimate interest pursuant to Art. 6 (1) lit. f GDPR in transferring the data, or if another legal basis permits the data transfer. When using processors, we only pass on personal data of our customers on the basis of a valid processing contract. In the event of joint processing, a joint processing contract is concluded.</p>

<h3 class="text-xl font-bold my-2">Revocation of your consent to data processing</h3>
<p>Many data processing procedures are possible only with your express consent. You can revoke any consent you have already given at any time. The lawfulness of the data processing carried out until the revocation remains unaffected by the revocation.</p>

<h3 class="text-xl font-bold my-2">Right to object to data collection in special cases and to direct advertising (Art. 21 GDPR)</h3>
<p>IF THE DATA PROCESSING IS BASED ON ART. 6 (1) LIT. E OR F GDPR, YOU HAVE THE RIGHT AT ANY TIME TO OBJECT TO THE PROCESSING OF YOUR PERSONAL DATA FOR REASONS ARISING FROM YOUR PARTICULAR SITUATION; THIS ALSO APPLIES TO PROFILING BASED ON THESE PROVISIONS. THE RESPECTIVE LEGAL BASIS ON WHICH PROCESSING IS BASED CAN BE FOUND IN THIS PRIVACY POLICY. IF YOU OBJECT, WE WILL NO LONGER PROCESS YOUR AFFECTED PERSONAL DATA UNLESS WE CAN DEMONSTRATE COMPELLING LEGITIMATE GROUNDS FOR THE PROCESSING THAT OVERRIDE YOUR INTERESTS, RIGHTS, AND FREEDOMS, OR THE PROCESSING SERVES THE ASSERTION, EXERCISE, OR DEFENSE OF LEGAL CLAIMS (OBJECTION ACCORDING TO ART. 21 (1) GDPR).</p>
<p>IF YOUR PERSONAL DATA ARE PROCESSED FOR DIRECT MARKETING PURPOSES, YOU HAVE THE RIGHT TO OBJECT AT ANY TIME TO THE PROCESSING OF YOUR PERSONAL DATA FOR THE PURPOSE OF SUCH ADVERTISING; THIS ALSO APPLIES TO PROFILING IN CONNECTION WITH DIRECT MARKETING. IF YOU OBJECT, YOUR PERSONAL DATA WILL THEN NO LONGER BE USED FOR DIRECT MARKETING PURPOSES (OBJECTION ACCORDING TO ART. 21 (2) GDPR).</p>

<h3 class="text-xl font-bold my-2">Right to lodge a complaint to your data protection authority</h3>
<p>In the event of violations of the GDPR, data subjects have the right to lodge a complaint to your data protection authority, particularly in the member state of their habitual residence, workplace, or the place of the alleged violation. This right to lodge a complaint exists irrespective of other administrative or judicial remedies.</p>

<h3 class="text-xl font-bold my-2">Right to data portability</h3>
<p>You have the right to have data that we process automatically based on your consent or in performance of a contract handed over to you or to a third party in a common, machine-readable format. If you request the direct transfer of the data to another controller, this will be done only to the extent that it is technically feasible.</p>

<h3 class="text-xl font-bold my-2">Information, correction, and deletion</h3>
<p>Within the framework of the applicable legal provisions, you have the right at any time to obtain information about your stored personal data, their origin and recipients, and the purpose of data processing free of charge and, if applicable, a right to correction or deletion of these data. You can contact us at any time about this and other questions on the subject of personal data.</p>

<h3>Right to restriction of processing</h3>
<p>You have the right to request the restriction of the processing of your personal data. You can contact us about this at any time. The right to restriction of processing applies in the following cases:</p>
<ul class="list-disc pl-6 space-y-2">
  <li>If you dispute the accuracy of your personal data stored with us, we usually need time to verify this. For the duration of this verification, you have the right to request the restriction of the processing of your personal data.</li>
  <li>If the processing of your personal data was/is unlawful, you can request the restriction of data processing instead of deletion.</li>
  <li>If we no longer need your personal data, but you need it to exercise, defend, or assert legal claims, you have the right to request the restriction of the processing of your personal data instead of deletion.</li>
  <li>If you have lodged an objection under Art. 21 (1) GDPR, a balancing of your interests and ours must be carried out. As long as it has not yet been determined whose interests prevail, you have the right to request the restriction of the processing of your personal data.</li>
</ul>
<p>If you have restricted the processing of your personal data, these data may—apart from being stored—only be processed with your consent or for the establishment, exercise, or defense of legal claims, or for the protection of the rights of another natural or legal person, or for reasons of important public interest of the European Union or a member state.</p>

<h3 class="text-xl font-bold my-2">SSL or TLS encryption</h3>
<p>This page uses SSL or TLS encryption for security reasons and to protect the transmission of confidential content, such as orders or inquiries that you send to us as the site operator. You can recognize an encrypted connection by the address line of the browser switching from “http://” to “https://” and by the lock icon in your browser bar.</p>
<p>If SSL or TLS encryption is activated, the data you transmit to us cannot be read by third parties.</p>

<h3 class="text-xl font-bold my-2">Objection to promotional emails</h3>
<p>We hereby object to the use of the contact data published within the scope of the imprint obligation for the transmission of advertising and information materials not expressly requested. The operators of these pages expressly reserve the right to take legal action in the event of the unsolicited sending of advertising information, for example, via spam emails.</p>

<h2 class="text-2xl font-bold mb-4">4. Data collection on this website</h2>
<h3 class="text-xl font-bold my-2">Cookies</h3>
<p>Our internet pages use so-called “cookies.” Cookies are small data packages and do not cause any damage to your device. They are either stored temporarily for the duration of a session (session cookies) or permanently (permanent cookies) on your device. Session cookies are automatically deleted after your visit. Permanent cookies remain on your device until you delete them yourself or they are automatically deleted by your web browser.</p>
<p>Cookies can come from us (first-party cookies) or from third-party companies (third-party cookies). Third-party cookies enable certain services from third-party companies to be integrated into websites (e. g. cookies for processing payment services).</p>
<p>Cookies have various functions. Numerous cookies are technically necessary, as certain website functions would not work without them (e.g. the shopping cart function or the display of videos). Other cookies may be used to analyze user behavior or for advertising purposes.</p>
<p>Cookies that are required to carry out the electronic communication process, to provide certain functions you have requested (e.g. for the shopping cart function), or to optimize the website (e.g. cookies to measure the web audience) (necessary cookies) are stored on the basis of Art. 6 (1) lit. f GDPR unless another legal basis is stated. The website operator has a legitimate interest in storing necessary cookies for the technically error-free and optimized provision of its services. If consent has been requested for the storage of cookies or comparable recognition technologies, the processing is carried out exclusively on the basis of this consent (Art. 6 (1) lit. a GDPR and § 25 (1) TDDDG); consent can be revoked at any time.</p>
<p>You can configure your browser so that you are informed about the setting of cookies and only allow cookies in individual cases, exclude the acceptance of cookies for certain cases or in general, and enable the automatic deletion of cookies when closing the browser. If cookies are deactivated, the functionality of this website may be restricted.</p>
<p>You can find out which cookies and services are used on this website in this Privacy Policy.</p>

<h3 class="text-xl font-bold my-2">Server log files</h3>
<p>The provider of these pages automatically collects and stores information in so-called server log files, which your browser automatically transmits to us. These are:</p>
<ul class="list-disc pl-6 space-y-2">
  <li>Browser type and version</li>
  <li>Operating system used</li>
  <li>Referrer URL</li>
  <li>Hostname of the accessing computer</li>
  <li>Time of the server request</li>
  <li>IP address</li>
</ul>
<p>This data is not merged with other data sources.</p>
<p>The collection of this data is based on Art. 6 (1) lit. f GDPR. The website operator has a legitimate interest in the technically error-free presentation and optimization of its website—for this purpose, the server log files must be recorded.</p>

<h3 class="text-xl font-bold my-2">Inquiry by email, telephone, or fax</h3>
<p>If you contact us by email, telephone, or fax, your request, including any personal data resulting from it (name, request), will be stored and processed by us for the purpose of handling your inquiry. We do not pass on these data without your consent.</p>
<p>The processing of these data is based on Art. 6 (1) lit. b GDPR if your inquiry is related to the performance of a contract or is necessary for the implementation of pre-contractual measures. In all other cases, the processing is based on our legitimate interest in effectively processing inquiries addressed to us (Art. 6 (1) lit. f GDPR) or on your consent (Art. 6 (1) lit. a GDPR) if this has been requested; consent can be revoked at any time.</p>
<p>The data you send to us via contact requests remain with us until you ask us to delete them, revoke your consent to store them, or the purpose for storing the data no longer applies (e.g. after your request has been fully processed). Mandatory statutory provisions—especially statutory retention periods—remain unaffected.</p>

<h2 class="text-2xl font-bold my-4">5. Newsletter</h2>

<h3 class="text-xl font-bold my-2">Newsletter data</h3>
<p>If you wish to receive the newsletter offered on the website, we need your email address as well as information that allows us to verify that you are the owner of the specified email address and that you agree to receive the newsletter. Further data are not collected, or only on a voluntary basis. We use these data exclusively for sending the requested information and do not pass them on to third parties.</p>
<p>The processing of the data entered in the newsletter sign-up form is based exclusively on your consent (Art. 6 (1) lit. a GDPR). You can revoke the consent you have given to the storage of data, the email address, and its use for sending the newsletter at any time, for example, via the “unsubscribe” link in the newsletter. The legality of the data processing operations already carried out remains unaffected by the revocation.</p>
<p>The data you provide to us for the purpose of receiving the newsletter will be stored by us until you unsubscribe from the newsletter or until the purpose no longer exists, and will be deleted from the newsletter distribution list after you unsubscribe or once it no longer serves the purpose. We reserve the right to remove or block email addresses from our newsletter distribution list at our own discretion within the scope of our legitimate interest pursuant to Art. 6 (1) lit. f GDPR.</p>
<p>Data that we store for other purposes remain unaffected by this.</p>
<p>After you have unsubscribed from the newsletter distribution list, your email address may be stored by us or the newsletter service provider in a blacklist if this is necessary to prevent future mailings. The data from the blacklist are used only for this purpose and are not merged with other data. This serves both your interest and our interest in complying with legal requirements when sending newsletters (legitimate interest within the meaning of Art. 6 (1) lit. f GDPR). The storage in the blacklist is not limited in time. You can object to the storage if your interests outweigh our legitimate interest.</p>

<h2 class="text-2xl font-bold my-4">6. Plugins and Tools</h2>

<h3 class="text-xl font-bold my-2">YouTube with enhanced privacy</h3>
<p>This website integrates videos from the YouTube website. The operator of the site is Google Ireland Limited (“Google”), Gordon House, Barrow Street, Dublin 4, Ireland.</p>
<p>When you visit one of our websites in which YouTube is embedded, a connection to YouTube’s servers is established. In doing so, the YouTube server is informed which of our pages you have visited. If you are logged into your YouTube account, you enable YouTube to associate your surfing behavior directly with your personal profile. You can prevent this by logging out of your YouTube account.</p>
<p>We use YouTube in enhanced privacy mode. According to YouTube, videos that are played in enhanced privacy mode are not used to personalize the surfing experience on YouTube. Ads displayed in enhanced privacy mode are also not personalized. In enhanced privacy mode, no cookies are set. However, so-called local storage elements are stored in the user’s browser, which are similar to cookies in that they may contain personal data and can be used for recognition. You can find details on enhanced privacy mode here: <a href="https://support.google.com/youtube/answer/171780" target="_blank" rel="noopener noreferrer">https://support.google.com/youtube/answer/171780</a>.</p>
<p>After activating a YouTube video, additional data processing operations may be triggered over which we have no influence.</p>
<p>The use of YouTube is in the interest of presenting our online offerings in an appealing way. This constitutes a legitimate interest within the meaning of Art. 6 (1) lit. f GDPR. If corresponding consent was requested, the processing is carried out exclusively on the basis of Art. 6 (1) lit. a GDPR and § 25 (1) TDDDG, insofar as the consent includes the storage of cookies or access to information on the user’s end device (e.g. device fingerprinting) within the meaning of the TDDDG. Consent can be revoked at any time.</p>
<p>Further information on data protection at YouTube can be found in their Privacy Policy at: <a href="https://policies.google.com/privacy?hl=de" target="_blank" rel="noopener noreferrer">https://policies.google.com/privacy?hl=de</a>.</p>
<p>The company is certified under the “EU-US Data Privacy Framework” (DPF). The DPF is an agreement between the European Union and the USA that aims to ensure compliance with European data protection standards when processing data in the USA. Every company certified under the DPF undertakes to comply with these data protection standards. You can obtain further information from the provider under the following link: <a href="https://www.dataprivacyframework.gov/participant/5780" target="_blank" rel="noopener noreferrer">https://www.dataprivacyframework.gov/participant/5780</a>.</p>

</BaseLayout>
