---
import BaseLayout from '../layouts/BaseLayout.astro';
import ResearchPapers from '../components/ResearchPapers.astro';
import Talks from '../components/Talks.astro';
import Media from '../components/Media.astro';
---
<BaseLayout>
  <h1 class="text-3xl font-bold mb-6">Publications & Media</h1>
  <ResearchPapers />
  <Talks />
  <Media />
</BaseLayout>
