---
---
<section class="mb-10">
<p class="mb-4">
Dennis Eisermann is a research assistant at the Institute of Distributed Systems. He holds a Bachelor of Science degree in Computer Science from the University of Augsburg and furthered his education with a Master of Science degree in the same field from the University of Ulm.

His research interests are centered around several critical aspects of deep neural networks. He is deeply engaged in exploring the explainability of deep neural network behavior, aiming to make these complex models more transparent and accessible. Additionally, he uses his knowledge to mitigate adversarial attacks, which are designed to deceive neural networks and compromise their performance. His studies also extends to trust quantification in deep neural networks, with the goal of ensuring their reliability and enabling their safe and successful deployment in real-world applications.

His efforts aim to improve the robustness and trustworthiness of deep learning technologies, making significant strides in both theoretical and practical domains.
  </p>
  <p>
    <a href="/cv.pdf" class="text-accent underline" download>Download CV</a>
  </p>
  </section>