---
import SocialMedia from '../components/SocialMedia.astro'
---
 
 <section class="mb-10">
    <h2 class="text-2xl font-bold mb-4">Collaborations</h2>
        <SocialMedia class="mb-2 flex space-x-4" />
        <p class ="mb-6">
       He is currently focused on developing robust models for self-driving cars.
       Potential collaborators, such as academic institutions or funding organizations are invited to start a dialog. Opportunities to provide knowledge or financial support are enthusiastically welcomed as the project continues to push the boundaries of autonomous vehicles. Feel free to contact now. 
      </p>

  </section>