---
import SocialMedia from '../components/SocialMedia.astro'
---
<footer class="py-4 mt-12 border-t border-gray-300 text-center">
  <SocialMedia class="mb-2 flex space-x-4 justify-center" /> 
  <p class="text-sm text-gray-500">&copy; {new Date().getFullYear()} Dennis Eisermann. All rights reserved. </p>
  <p class="text-sm text-gray-500"><a href="/privacy_policy">Privacy Policy</a></p>
</footer>
